.full-width {
    width: 90%;
    font-family: 'Nunito', sans-serif;
 }
 

.shrink{
   font-family: 'Nunito', sans-serif;
   text-align: center;
   display: block;

}
.marg{
   margin-top:20px;
   margin-bottom:20px;
}