<h1 class="shrink"><u>Here is your Itenary</u></h1><p></p>

<div  fxLayout="column" fxLayoutGap="10px" class="marg" *ngFor="let number of look;let i = index" 
>
  
  <div *ngIf="i%2==0"  fxLayout="row"  fxLayoutAlign="center center" >
    <div fxFlex fxLayoutAlign="center center">
    <img src ="../assets/{{i}}.jpg" width="400" height="300" >
    </div>
  
      <div   fxFlex  fxLayout="column" fxLayoutAlign="center center" >
          
            
            <div fxFlex="30" class="shrink" >
              <h2>Places to eat:</h2>
              <p> {{number.restaurent1}}</p>
              <p> {{number.restaurent2}}</p>
              <h2>Places to visit:</h2>
              <p> {{number.activity}}</p>
            </div>

            <div fxFlex="40" >
            </div>
          
      </div>
  </div>
  
  <div *ngIf="i%2!=0" fxLayout="row"  fxLayoutAlign="center center"  >
      
        
        <div fxFlex  fxLayout="column"  fxLayoutAlign="center center">

          <div fxFlex="30" class="shrink" >
            <h2>Places to eat:</h2>
            <p>{{number.restaurent1}}</p> 
            <p>{{number.restaurent2}}</p>
            <h2>Places to visit:</h2>
            <p>{{number.activity}}</p> 
          </div>

          <div fxFlex="20" >
          </div>

        </div>


        <div fxFlex fxLayoutAlign="center center">
          <img src ="../assets/{{i}}.jpg" width="400" height="300">

        </div>
  </div>
</div>
