<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@500&family=Nunito:wght@300;400&family=Raleway:wght@600&family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">
<mat-toolbar >
  <span><img src="/assets/delhi.jpg" height=30 width=41></span>

</mat-toolbar>

<div class="container jumbotron"
    fxLayout="column"
    fxLayout.sm="column" 
    fxLayout.xs="column" 
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start top" 
    fxLayoutAlign.gt-sm="center top" 
    fxLayoutGap="10px">

  <div fxFlex fxFlex.xs="90"
  fxFlex.gt-xs="25"
  fxFlex.gt-sm="20"
  fxLayoutGap="10px" class="bbt">
    <h1>India-The land where ancient meets the new</h1>
  </div>
  <p  align="justify" style="color:grey" >If you are living here or visiting. Let us help you have a wonderful time. Here on this platform you can make your plans to visit any of the cities. 
    If you are new to the city or visiting and confused about going outside? We give you an <b>AI</b> enriched Itenary.
    Our <b>AI</b> helps you plan your perfect holiday. We believe that even though humans can be flawed ,our <b>AI</b> would not make mistakes and 
    even if it does ,it would not repeat them</p>
  <div fxFlex fxFlex.gt-sm="30%" fxLayoutGap="10px" >
<img  src="/assets/keralanewcopy.png" class="center">  </div>

<div fxFlex class="pea">
  <a mat-flat-button routerLink="/itenary" class="md-display-2" target="_blank">Learn More<span>&#8594;</span></a>

</div>
  
</div>


