$lt-gray: #ddd;
$background-dark: #0070b2;
$background-light: #30d667a2;
$background-pale: #6abfe6;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.jumbotron {
    @include zero-margin(70px,30px);
    font-family: 'Nanum Gothic', sans-serif;
   
    min-height: 400px;
    background-size:100% 100%;
    background-repeat: no-repeat;
}
.mat-toolbar{
    background-color: #0070b2;
    background-size:auto;
}
.bbt{
    align-content: center;
    align-self: center;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: x-large;
    text-shadow: lightslategrey;
    columns: #070707;
   
   
}
.pea a
{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: large;
    text-align:center;
    color:#ddd;
    background-color: #0070b2;
    background-size:auto;
    margin-top:30px;
    max-width:1500px;
    width:100%;
  
    
}
.pea{
    display: flex;
    
  margin-left: auto;
  margin-right: auto;
  margin-top:auto;
  margin-bottom: auto;
  width: 100%;
  
}

.bbt p{
    text-align: justify;
  text-justify: inter-word;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
