<div class="container footer" 
    fxLayout="row wrap" 
    fxLayout.lt-md="column" 
    fxLayoutAlign="center center" 
    fxLayoutGap="10px">

  <div fxFlex="100" fxFlex.gt-sm="50">
    <div fxLayout="row">
      <div fxFlex="40" fxFlexOffset="20px">
        <h4 style="color:black">Links</h4>
      
      </div>
      <div fxFlex="55">
        <h4 style="color:black">Our Address</h4>
        <address >
          We want to recide in your hearts<br> 
        
        </address>
      </div>
    </div>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="45">
    <div style="text-align:center">
       </div>
  </div>
  <div>
      <p >© Copyright 2020 Itenary with AI</p>
  </div>
</div>