

.form-size {
   width: 60%;
   font-family: 'Nunito', sans-serif;
margin-top: 15px;
margin-bottom: 15px;
justify-content: center;
align-items: center;
flex-direction: row;


}
.outer{
   font-family: 'Nunito', sans-serif;
   justify-content: center;
   align-items: center;
   text-align: center;
   font-size:large;
   color: white;
   background-color: #0070b2;
   margin-bottom:15px;

}
.outer1{
   font-family: 'Nunito', sans-serif;
   justify-content: center;
   align-items: center;
   text-align: center;
   font-size:large;
   color: white;
   
  

}
.border{
   border-style: double;
   font-family: 'Nunito', sans-serif;
   justify-content: center;
   align-items: center;
   text-align: center;
   margin-right: auto;
   margin-left: auto;
   margin-bottom: 30px;
}
.a mat-flat-button {
   align-self: start;
   font-family: 'Nunito', sans-serif;
   justify-content: left;
   margin-left: 10px;
   margin-right: 10px;
   align-items: left;
   text-align: left;
   font-size:large;
   color: white;
   background-color: #0070b2;
}
.marg{
   margin-top:15px;
   margin-bottom:15px;
   margin-left:15px;
   margin-right:15px;
}