
<div fxFlex fxFlexOffset="20px" class="outer" class="border">
  <h2>Let us plan your Itenary!</h2>
  <!--<p>{{ feedbackForm.value | json }} {{ feedbackForm.status | json }}</p>-->

  <form novalidate [formGroup]="feedbackForm" (ngSubmit)="onSubmit()"   *ngIf='multitude'>
    
 <p >
<mat-form-field class="form-size" appearance="outline" >
  <mat-label>Select number of days</mat-label>
  <mat-select  formControlName="daysoftrip" required >
    <mat-option value="1">1</mat-option>
    <mat-option value="2">2</mat-option>
    <mat-option value="3">3</mat-option>
    <mat-option value="4">4</mat-option>
    <mat-option value="5">5</mat-option>
    <mat-option value="6">6</mat-option>
    <mat-option value="7">7</mat-option>
  </mat-select>
</mat-form-field>
</p> 
    <p>
     
      <mat-form-field class="form-size" appearance="outline">
        <mat-label> Budget</mat-label>
        <input matInput formControlName="budget" placeholder="Budget" type="text"  required>
        <mat-error *ngIf="feedbackForm.get('budget').hasError('required') && feedbackForm.get('budget').touched">Budget is required</mat-error>

      </mat-form-field>
    </p>
   
    <p>
      <mat-form-field class="form-size" appearance="outline">
        <mat-label>Select Location</mat-label>
        <mat-select [(ngModel)]="selectedOption" formControlName="state">
          <mat-option *ngFor="let state of states" [value]="state.value">
            {{state.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>
      <p>
      <mat-form-field appearance="outline" *ngIf="selectedOption=='Bangalore'"   >
        <mat-select  formControlName="location" [(ngModel)]="selectedOption1"  required >
          <mat-option value="12.957997,77.6750114">Marahathalli</mat-option>
          <mat-option value="12.9778272,77.7143842">Whitefield</mat-option>
          <mat-option value="12.8539624,77.7801663">Sarjapur</mat-option>
          <mat-option value="12.9756884,77.6035795">MG Road</mat-option>
          <mat-option value="12.9354504,77.6146828">Kormangala</mat-option>
          <mat-option value="12.9804049,77.5703082">Gandhi Nagar</mat-option>
          <mat-option value="12.8379176,77.6391781">Electronic City</mat-option>
          <mat-option value="12.9729391,77.6294794">Indiranagar</mat-option>
          <mat-option value="12.9326919,77.6858478">Sarjapur-Marathahalli Ring Road</mat-option>
          <mat-option value="12.9135223,77.6038353">BTM Layout</mat-option>
          <mat-option value="12.9102561,77.6108031">HSR Layout</mat-option>
          <mat-option value="12.9669468,77.7022627">Brookefield</mat-option>
          <mat-option value="12.9323176,77.6573239">Bellandur</mat-option>
          <mat-option value="12.8170972,77.6532064">Bommasandra</mat-option>
          <mat-option value="12.9292117,77.5696454">Jayanagar</mat-option>
          <mat-option value="13.1183113,77.5815545">Yelahanka</mat-option>
          <mat-option value="12.8896976,77.5605652">JP Nagar</mat-option>
          <mat-option value="13.0240588,77.6346678">Kalyan Nagar</mat-option>
          <mat-option value="12.9947892,77.5345687">Rajaji Nagar</mat-option>
          <mat-option value="13.0324778,77.6141984">HBR Layout</mat-option>
          <mat-option value="12.9824632,77.614943">Ulsoor</mat-option>
          <mat-option value="13.0396595,77.5960594">Nagavara</mat-option>
          <mat-option value="13.034622,77.5894184">Hebbal</mat-option>

          <mat-option value="Other">Other</mat-option>
          </mat-select>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline" *ngIf="selectedOption=='Delhi'"   >
        <mat-select  formControlName="location" [(ngModel)]="selectedOption1"  required >
          <mat-option value="28.621872,77.2134317">Ashoka Road</mat-option>
          <mat-option value="28.5950334,77.1959753">Chanakyapuri</mat-option>
          <mat-option value="28.612912,77.2273157">India Gate</mat-option>
          <mat-option value="28.5503497,77.1829546">R.K.Puram</mat-option>
          <mat-option value="28.5235477,77.200148">Saket</mat-option>
          <mat-option value="28.5267235,77.1180048">Vasant Kunj</mat-option>
          <mat-option value="28.6997923,77.2655663">Yamuna Vihar</mat-option>
          <mat-option value="28.6142803,77.2906084">Mayur Vihar</mat-option>
          <mat-option value="28.6314605,77.212279">Connaught Place</mat-option>
          <mat-option value="28.6868599,77.2059064">North Campus</mat-option>
          <mat-option value="28.5822337,77.1531743">South Campus</mat-option>
          <mat-option value="28.5822337,77.1531743">Pitampura</mat-option>
          <mat-option value="28.7406349,77.0576576">Rohini</mat-option>
          <mat-option value="28.7155879,77.1399452">Shalimar Bagh</mat-option>
          <mat-option value="28.6210222,77.0729724">Janakpuri</mat-option>
          <mat-option value="28.6441858,77.111836">Rajouri Garden</mat-option>
          <mat-option value="28.6526606,77.1586573">Patel Nagar</mat-option>
          <mat-option value="28.5733056,77.0108292">Dwarka</mat-option>
          <mat-option value="28.6275492,77.2762951">Laxmi Nagar</mat-option>
          <mat-option value="28.6019891,77.2172755">Embassy Area</mat-option>
          <mat-option value="28.5754743,77.1889175">Sarojini Nagar</mat-option>
          <mat-option value="28.5491559,77.2483883">Nehru Place</mat-option>

          <mat-option value="Other">Other</mat-option>
          </mat-select>
      </mat-form-field>
    </p>
    <p >
      <a class="outer" href="https://www.google.com/maps" mat-flat-button  target="_blank"  *ngIf="selectedOption1=='Other'">Find your location here:</a>
 
       <span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span>
      <mat-form-field appearance="outline"   *ngIf="selectedOption1=='Other'">
        <mat-label> Paste the link here!</mat-label>
               
        <input matInput formControlName="location" placeholder="Location" type="text" required>

      </mat-form-field>
    </p>
    <p >
     Here For:</p>
     <mat-button-toggle-group class="outer1" appearance="legacy" formControlName="typeofholiday"  >
      <mat-button-toggle value="p">Party</mat-button-toggle>
      <mat-button-toggle value="r">Relax</mat-button-toggle>
      <mat-button-toggle value="b">Business trip</mat-button-toggle>
    </mat-button-toggle-group>
  
   

<h3>
 <b><button class="outer"  mat-raised-button  type="submit">Submit</button></b> 

</h3>
  </form>
  <div *ngIf="lessbudget==2" >
        <img src="../assets/sad.png">
        <h1> Oops! Please select place between city limits</h1>
      </div>


  <div *ngIf="itemstodisplay"  >
    <div *ngIf="lessbudget==1">
      <img src="../assets/sad.png" >
      <h1> Oops! Please increase your budget and try again!</h1>
    </div>
    
      
    <div *ngIf="lessbudget==0" >
      <div *ngIf="statevar=='Delhi'" >
        <img src="../assets/delhi.jpg">
        <h2 class="marg" >
          If you are planning to visit Delhi some helpful things before you see your Itenary: </h2>
          <p class="marg" align="justify" style="color:grey">If you have less time and want to make most of it visit places via Delhi Metro.
          The itenary takes your budget and distance between places as primary factors to design your day in city.
          If you want to see Delhi from eyes of a delhite, make sure you go to Chandni Chowk,Hauz Khas and Rajiv Chowk. </p>
       
        
        <a class="outer"  mat-raised-button routerLink="/formresult"> Your itenary:-</a>


      </div>
      <div *ngIf="statevar=='Bangalore'"  >
        <img src="../assets/bangalore.jpeg">
        <h2 class="marg">
          If you are planning to visit Bangalore some helpful things before you see your Itenary: </h2>
          <p class="marg" align="justify" style="color:grey"> If you have less time and want to make most of it try going out in wee hours as you can easily escape bangalore traffic.
          If you want to save money, try using metro or rent your own vehicle. Cabs are expensive in Bangalore.
          Do not forget to visit Nandi Hills if you have time.</p>
       
        
        <a  class="outer"  mat-raised-button routerLink="/formresult"> Your itenary:-</a>


      </div>


    </div>
  </div>


