.delhi{
    
    background: url("/assets/delhi.jpg") no-repeat;
    background-size: 100% 100%;
    max-width: 1000px;
    width:100%;
    height: 400px;
    margin-bottom: 50px;
    margin-top:0px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size:x-large;
    


   
    
}
.mumbai{

    background: url("/assets/mumbai.jpg") no-repeat;
    background-size: 100% 100%;
    max-width: 1000px;
    width:100%;
    height: 400px;
    margin-bottom: 50px;
    margin-top:50px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size:x-large;


   
  

}
.bangalore
{
 
    background: url("/assets/bangalore.jpg") no-repeat;
    background-size: 100% 100%;
    max-width: 1000px;
    width:100%;
    height: 400px;
    margin-bottom: 50px;
    margin-top:50px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size:x-large;

   
   
  
}
.rajasthan
{
    
    background: url("/assets/goa.jpg") no-repeat ;
    background-size: 100% 100%;
    max-width: 1000px;
    width:100%;
    height: 400px;
    margin-bottom: 50px;
    margin-top:50px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size:x-large;
   
    

   
  
}
.mat-expansion-panel {
    margin-top:100px;
    background: rgba(204, 204, 204, 0.5);
    max-width: 1000px;
    width:55%;
    margin-left:50px;
    margin-right:50px;
   
  

   
  }
.mat-expansion-panel-header {
    order: 2;
    text-align: left;
  
    font-family: 'Nunito', sans-serif;
    font-size:x-large;
   align-self:left ;
   

   
 
    
  }
.mat-panel-title {
    
  
    text-align: left;
   
   

   
}
.mat-panel-description {
    justify-content: left !important;
    text-align: left;
    font-family: 'Nunito', sans-serif;
    font-size:x-large;

}
.mat-expansion-panel p{
    
    text-align: left;
    font-family: 'Nunito', sans-serif;
    font-size:x-large;

  

   
  }

  