
<div fxLayout="column" class="body">

  
    <div fxLayout="column" fxFlex.xs="90"
    fxFlex.gt-xs="25"
    fxFlex.gt-sm="20"
    fxFlexOffset="5"
    fxFlexOffset.gt-xs="5"
    fxFlexOffset.gt-sm="10"  fxLayoutAlign="center center" >
      <div class="delhi"  >
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h2>Delhi</h2>
             
            </mat-panel-title>
          
          </mat-expansion-panel-header>
          <a routerLink="/delhieat"><p>EAT</p></a>
          <a routerLink="/delhistay"><p>STAY</p></a>
      
        </mat-expansion-panel>
      </div>
      <div class="mumbai" >
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header >
            <mat-panel-title >
             <h2> Mumbai</h2>
            </mat-panel-title>
          
          </mat-expansion-panel-header>
          <a routerLink="/mumbaieat"><b><p>EAT</p></b></a>
          <a  routerLink="/mumbaistay"><b><p>STAY</p></b></a>
      
        </mat-expansion-panel>
      </div>
     
      
    </div>
  


    <div   
     fxLayout="column" fxLayoutAlign="center center">
      <div  class="bangalore"  >
    
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header >
            <mat-panel-title>
              <h2>Bangalore</h2>
            </mat-panel-title>
          
          </mat-expansion-panel-header>
          <a  routerLink="/bangaloreeat"><b><p>EAT</p></b></a>
          <a routerLink="/bangalorestay"><b><p>STAY</p></b></a>
      
        </mat-expansion-panel>
      </div>
      <div class="rajasthan" >
        <mat-expansion-panel  hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h2 >Goa</h2>
            </mat-panel-title>
          
          </mat-expansion-panel-header>
          <a routerLink="/goaeat"><p>EAT</p></a>
          <a routerLink="/goastay"><p>STAY</p></a>
  
        </mat-expansion-panel>
      </div>
      <div fxflex="10">

      </div>
      
      
    </div>
    <!--<div class="mumbai">
      <p>Other cities coming soon!</p>

    </div>-->

</div>


