
  .f{
    font-family: 'Nunito', sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size:large;

  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:400px;
    max-height:300px;
    width: 90%;
    height:90%;
    padding:20px; 
   
  }
