<div fxLayout="column" fxLayoutGap="12px" >
    <mat-card *ngFor="let r of rest">
        <div class="mat-body-1" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-around center">
            <div fxFlex="50" fxFlex.gt-sm="40%" fxLayoutGap="10px"  fxLayoutAlign="space-around center">
                <img mat-card-image src={{r.image}} alt={{r.name}} class="center">

                
            </div>
      
            <div fxFlex="50" fxLayoutOffset="30px" fxLayout="column" fxLayoutAlign="space-around center" >
                <div fxFlex>
                <mat-card-title class="f">
                    <h1 >{{r.name}}</h1>
                </mat-card-title>
            </div>
            <div fxFlex>
                <mat-card-content class="f">
                    <p align="justify">{{r.description}}</p>
                </mat-card-content>
               </div>    
                
            </div>


        </div>
    </mat-card>
</div>