<h1>Best places to visit and stay in Delhi</h1>
<p></p>
<div fxLayout="column" fxLayoutGap="12px">
    <mat-card *ngFor="let r of stayarr" >
        <div fxLayout="column">
        <div class="mat-body-1" fxLayout="row" fxFlex="50">
            <div fxFlex="40">
                <img mat-card-image src={{r.image}} alt={{r.name}}>

                
            </div>
            <div fxFlex="10">

            </div>
            <div fxFlex="70" >
                <mat-card-title>
                    <h1>{{r.name}}</h1>
                </mat-card-title>
                <mat-card-content>
                    <p>{{r.description}}</p>
                </mat-card-content>
                   
                
            </div>


        </div>
        <div class="addpictures" fxFlex="50">
            <div fxLayout="row" >
                <div fxFlex="33">
                    <img src={{r.img1}}  width="400" height="300" >
                </div>
                <div fxFlex="33">
                    <img src={{r.img2}}  width="400" height="300">
                </div>
                <div fxFlex="33">
                    <img src={{r.img3}}  width="400" height="300">
                </div>

            </div>
          
        </div>
        </div>
    </mat-card>
    
</div>
